*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
   
    padding-left: 400px;

    display: flex;
    align-items: center;
    transition: 0.5s;
  

}
body{
    background: #030303;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/black-and-blue-abstract-qpojbj22b34iot9v.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 5px  5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration:none ;
   font-size: 18p;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
/*---------------------------------about------------------------*/
#about{
    padding: 80px 0;
    color: lightgrey;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img{
    width: 95%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.txt{
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    padding: 5px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
/*.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.10s;
}
/*.tab-links.active-links::after{
width: 50%;

}
.tab-contents ul li{
    padding: 5px;
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(17, 244, 252);
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
.tab-contents.active-tab ul li {
    padding-top: 5px;
    margin-top: 20px;
}*/
/*----------------skills-------------------*/
#skills{
    padding: 30px 0;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}.skills-list div{
    background: #2b2727;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: baclground 0.5s,transform 0.5s;
}.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.skills-list div:hover{
    background: #4c4b52;
    color: rgb(255, 255, 255);
}
/*------------------work-----------*/
#work{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}.work-list div{
    background: #2b2727;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    transition: baclground 0.5s,transform 0.5s;
}.work-list div h2{
   
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}
.work-list h3{
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}
.work-list p{
    padding: 10px;
}
.work-list h3{
    
    display: inline-block;
  position: relative;
  color:#ffffff;
 
}
.work-list h3::after{
     
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.work-list h3:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}
/*------------------MY UPSKILLS------------------------*/
#up-skills{
    padding: 50px 0;
}
.cer-list{
    margin-top:10px 50px;
}
.cer-list img{
    width: 450px;
    padding: 10px;
    
    transition: 1s;
}
.cer-list img:hover{
    
    transform: scale(1.1);
}
/*--------------------contact---------------------*/
.contact-left{
    flex-basis:50% ;
    font-size: 25px;
    color: #fff;
}
.contact-left p{
    margin-top: 30px;
    font-size: 20px;
}
.contact-left p i{
    color: #ffffff;
    margin-right: 15px;
    font-size: 20px
}

.btn{
    font-size: 25px;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 45px;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 200;
    margin-top: 10px;
}
/*--------------------------------css for small screen-----------------*/

